/* Palette */
/* antique white #F4F1DE, terra cotta #E07A5F, deep slate blue #3D405B, muted sage green #81B29A */

body {
   background-color: #3D405B;
   color: #F4F1DE;
   font-family: Georgia, serif;
}

textarea {
            width: 400px;
			height: 300px;
}
input {
            width: 250px;

}

hr {
    width:60%;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color:#3D405B;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: #F4F1DE;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Change color on hover */
.navbar a:hover {
  background-color: #81B29A;
  color: #F4F1DE;
}

/* Ensures that padding and border are included in the total width and height of the elements */
* {
  box-sizing: border-box;
}

/* Create a grid container */
.grid-container {
    display: grid; /* Enables grid layout */
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
    gap: 10px; /* Adds space between grid items */
}


/* Style grid items */
.grid-item {
    background-color: #F4F1DE;
    color: #E07A5F;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
	justify-content: center;
}
@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* For screens smaller than 600px */
@media (max-width: 1199px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}

/* For screens smaller than 400px */
@media (max-width: 499px) {
    .grid-container {
        grid-template-columns: 1fr; /* 1 column */
    }
} 